* {
  box-sizing: border-box;
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
ul,
figure {
  padding: none;
}
img {
  display: block;
  max-width: 100%;
}
ul {
  list-style: none;
}
input,
button {
  font: inherit;
}
