:root {
  --background: #141318;
  --surface: #201f24;
  --headings: #e6e1e9;
  --text: #cac4cf;
  --text--inverse: #312f35;
  --primary: #ccbeff;
  --on-primary: #33275e;
  --shadow: rgb(0 0 0 / 0.4);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--background);
  color: var(--text);
}

a {
  text-decoration: none;
  transition: opacity 150ms ease-in-out;
}

a:hover {
  text-decoration: underline;
  opacity: 0.7;
}

p {
  line-height: 1.7;
  letter-spacing: 0.4px;
}

section {
  padding: 4rem 16rem;
}

section h2 {
  color: var(--headings);
  font-size: 3rem;
  line-height: 1;
}

.social {
  display: flex;
  gap: 2rem;
}

.social li {
  flex-shrink: 0;
}

.social img {
  width: 3rem;
  height: auto;
}

.social button {
  background-color: transparent;
  border: none;
}

.social-small {
  gap: 1rem;
  margin-top: 2rem;
  filter: invert(1);
}

.social-small img {
  width: 2rem;
  height: auto;
}

.about-section {
  position: relative;
  overflow: hidden;
  padding-top: 10rem;
}

.about-section::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 200%;
  background-color: var(--primary);
  transform-origin: bottom left;
  transform: rotate(-12deg);
  z-index: -1;
}

.about-wrapper {
  margin-bottom: 4rem;
}

.picture-with-caption {
  position: relative;
  width: fit-content;
  max-width: 24rem;
}

.picture-with-caption figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 1rem;
  font-size: 2.5rem;
  color: white;
  text-shadow: 0px 4px 5px var(--shadow);
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--text);
  font-size: 1.25rem;
}

.about-container h2 {
  margin-bottom: 2rem;
}

.work-section h2 {
  margin-bottom: 1.5rem;
}

.work-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 4rem;
}

.work-container article {
  max-width: fit-content;
  box-shadow: 0px 8px 16px var(--shadow);
  background-color: var(--surface);
  border-radius: 1rem;
}

.project-container {
  padding: 1rem 1rem 4rem 1rem;
}

.project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.project-header ul {
  display: flex;
  gap: 1rem;
}

.project-header img {
  width: 1.5rem;
  height: auto;
  flex-shrink: 0;
  filter: invert(1);
}

.contact-section {
  display: flex;
  gap: 6rem;
  background-color: var(--primary);
  color: var(--on-primary);
  font-size: 1.25rem;
}

.contact-container :is(h2, p, a) {
  color: var(--text--inverse);
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact-container address {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-style: normal;
}

.contact-container address a {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.contact-container address img {
  width: 2rem;
  height: auto;
}

.contact-container + img {
  flex: 1;
  max-width: 100%;
}

@media (min-width: 1500px) {
  section {
    padding: 4rem 24rem;
  }
}
@media (min-width: 1000px) {
  .about-container .social {
    align-self: end;
  }
}
@media (min-width: 500px) {
  .about-wrapper {
    background-color: var(--surface);
    padding: 4rem 2rem;
    box-shadow: 0px 0px 16px var(--shadow);
    width: 100%;
  }
  .about-wrapper .picture-with-caption {
    float: left;
    width: 60%;
    min-width: 15rem;
    margin: 1rem;
    transform-origin: 100% 100%;
    transform: scale(1.5);
  }
  .about-container {
    display: block;
  }
}
@media (max-width: 999px) and (min-width: 500px) {
  .picture-with-caption figcaption {
    top: 0;
    width: max-content;
    left: 50%;
  }
  .social.social-small {
    display: none;
  }
}
@media (max-width: 999px) {
  section {
    padding: 4rem;
  }
  .about-container h2 {
    text-align: center;
  }
  .work-container {
    gap: 2rem;
    margin-bottom: 10rem;
  }
}
@media (max-width: 499px) {
  section {
    padding: 1rem;
  }
  section h2 {
    text-align: center;
  }
  .social,
  .social-small {
    align-self: center;
  }
  .about-section::before {
    height: 45%;
  }
  .about-container h2 {
    margin-top: 2rem;
  }
  .work-container {
    gap: 5rem;
  }
  .project-header {
    margin-left: 1rem;
  }
  .contact-section {
    flex-direction: column;
    padding-bottom: 0;
    padding-top: 2.5rem;
  }
  .contact-section :is(p + p, address) {
    font-size: 1rem;
  }
  .contact-section address img {
    display: none;
  }
  .contact-container + picture {
    margin: 0 -1rem;
  }
}

/*# sourceMappingURL=style.css.map */
